@import "../node_modules/antd/dist/antd.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Quicksand';
  src: local("Quicksand"), url(./assets/fonts/Quicksand-Light.ttf) format("ttf");
}


body {
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  color:#5aaf61;
  font-family: 'Quicksand'!important;

}
h1 {
  font-family: 'Quicksand'!important;
  color:#36813c;
}

.ant-form-item-label {
  min-width: 100px;
  text-align: left;
}