@import "../node_modules/antd/dist/antd.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Quicksand';
  src: local("Quicksand"), url(./assets/fonts/Quicksand-SemiBold.ttf) format("ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  color:#3DCC85;
  font-family: 'Quicksand'!important;

}
h1 {
  font-family: 'Quicksand'!important;
  color:#3DCC85;
}

