.create-post {
    .ant-form-item-label {
        min-width: 120px;
    }

    .ant-divider-inner-text {
        padding: unset;
    }

    .ant-divider-horizontal.ant-divider-with-text-left::before {
        width: 0%;
    }

    .ant-card-head-title {
        font-weight: 700;
        color: white;
    }

    .ant-divider-inner-text {
        color: white;
    }

    label {
        font-weight: 500;
        color: white;
    }

    .ant-breadcrumb-link {
        font-weight: 700;

    }

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
        color: #fff;
    }

    .ant-form-item-explain.ant-form-item-explain-error {
        color: #fff;
    }

    .ant-upload-select-picture-card{
        margin-top: 20px;
        width: 100%;
        height: 80px;
    }

}


.post-detail {
    .apartment_preview{
        border-radius: 20px;
        height: 400px;
    }

    .owner-card{
        // width: 450; 
        margin-top: 20px;
    }
    
    @media only screen and (max-width: 680px) {
        .apartment_preview{
            height: 300px;
        }
    }
    @media only screen and (min-width: 1200px) {
        .owner-card{
            margin-left: auto;
            width: 350px; 
            height: 400px
        }
    }

}

