
.pending-post {
  .ant-table-thead > tr > th {
    background: #33b889;
    color: white;
    font-size: 18px;
  }
  .create-post {
    button {
      float: right;
    }
  }
  .sort-date {
    margin-bottom: 20px;
    margin-left: 20px;
    .title {
      font-size: 16px;
    }
  }
}
.active-post {
  .ant-table-thead > tr > th {
    background: #1890ff;
    color: white;
    font-size: 18px;
  }
  .ant-table-cell {
    text-align: center;
  }
  .like-view-chart {
    width: 70%;
    border-radius: 20px;
    border-color: #ccebf7;
    border-width: 2px;
  }
  .chart-title {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
  }
  .like-new-post {
    width: 25%;
    border-radius: 20px;
    border-color: #b9e8b6;
    border-width: 2px;
  }
  .item-title {
    width: 100%;
  }
  .item-image {
    width: 40%;
  }
}
.expired-post {
  .ant-table-thead > tr > th {
    background: #f79789;
    color: white;
    font-size: 18px;
  } 
  .sort-date {
    margin-bottom: 20px;
    margin-left: 20px;
    .title {
      font-size: 16px;
    }
  }
  .ant-table-cell {
    text-align: center;
  }
}
